<header
    class="bg-zinc-900 flex flex-col text-center p-20 gap-2 rounded-xl md:flex-row md:text-left"
>
    <div>
        <h1 class="text-5xl font-bold pb-2">Protect Your Password</h1>
        <p class="my-2 text-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit.
        </p>
        <button class="bg-indigo-500 px-4 py-2 rounded hover:bg-indigo-400"
            >Start Now</button
        >
    </div>
    <img class="w-80" src="images/fingerprint.svg" alt="" />
</header>
